@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-left: -55px;
  align-items: center;
  padding: 20px 15px;
}
.grid-coll-1 {
  display: flex;
  flex-direction: column;
  height: 70vh;
  border: solid #000 2px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: #222;
  /* margin-right: 50px; */
  padding: 0;
  /* padding-right: 100px; */
  /* margin-top: 50px; */
}

.grid-row-2-col-1 {
  height: 50vh;
  border: solid black 2px;
  background-color: #222;
  border-radius: 10px;
  margin-top: 25px;
  /* margin-right: 50px; */
}

.grid-row-2-col-2 {
  height: 50vh;
  border: solid black 2px;
  background-color: #222;
  border-radius: 10px;
  /* margin-top: 60px; */
  /* margin-right: 50px; */
}
